{{> head }}

<body>
    {{> navbar }}

    <div class="row mt-5 ml-4">
        <div class="col-md-8">
            <h1>Me llamo izan</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto accusamus dicta soluta laudantium alias sequi porro natus iste, ex in ullam, hic ea eum tenetur velit beatae veniam ad! Ea?</p>
        </div>
        <div class="col-md-4">
            <img src="assets/img/code.png" class="img-thumbnail">
        </div>
    </div>

    {{> footer }}
</body>